#paineis-sobre{
    margin-top: 20px;
}

.titulo-depoimentos{
    background: #0275D8;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    color: white;
    font-size: 25px;
}